body html{height: 100%}

.navegador{background-color: #333;
			position: fixed;
			top: -50px;
			width: 100%;
			transition: top 0.3s;
			}

.navegador a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

.navegador a:hover{
	background-color: #ddd;
	color: black;
}

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
	if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		document.getElementsByTagName("navegador").style.top = "0";
	} else {
		document.getElementsByTagName("navegador").style.top = "-50px";
	}
}

.principal {
	font-size:20px; /*que pasa si modifico esto*/
	width:100vw; /*y si el contenedor son em ó px*/
	margin:0 auto;
	font-family: 'Reenie Beanie', cursive ;
	background-image: url("../images/sunlight left.jpg");
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fecha{
font-family: 'Permanent Marker', cursive;
}

.formulario{height: 100vh; background: lightblue}

.acercade {
	font-size:20px; /*que pasa si modifico esto*/
	width:100vw; /*y si el contenedor son em ó px*/
	margin:0 auto;
	font-family: 'Reenie Beanie', cursive ;
	background-image: url("../images/en_construccion.jpg");
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.principal::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

footer{background: green; border: solid 1em purple}
