body ,html {
	height:100%;
}

body{
	margin: 0;
}


.parallax{
	background-image: url(imagen.jpg);
	height:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


}
header{
	 background-color: red;
	 height: 100%;
	 text-align: center;
	 color: white;
}

h1{
	margin: 0;
}

nav	{
	background-color: green;
	height: 50px;
}

nav ul li a {
	color: white;
	padding-right:30px;
	text-decoration:none;
	
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0;
}
label,input,textarea{
	display: block;
}

#formulario{
	display: flex;
	justify-content: center;
	align-content:center;
	align-items: center;
	height: 300px;
	background-color: gray;
}

footer p {
	margin:0;
}
footer{
	background-color: skyblue;
	height: 50px;
	color: white;
	text-align: center;
	padding-top: 10px;
	width: 100%;
}