body, html{
  margin: 0;
  height: 100vh;
}



#navbar{
  height: 70px;;
  width: 100vw;
  background-color: blue;
  text-align: center;
  height: 7vh;
  width: 100vw;
  justify-content: center;
  position: fixed;
  top: -70px;
  transition: top 0.5s;

}

#navbar a{
  float: left;
  display: block;
  color: blue;
  padding: 20px;
}

#navbar a:hover{

}

h1{
  background: blue;
  text-align: center;
  height: 7vh;
  width: 100vw;
  justify-content: center;
}

.Parallax{
  background-image: url("hinchada.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

}


.principal{
  width: 100vw;
  height: 100%;
  background-color: blue;
  text-align: center;
  justify-content: center;
  position: relative;
}


.segundo{

  width: 100vw;
  height: 200px;
  text-align: center;
  justify-content: center;
  position: relative;
}
