*{
	margin:0;
	padding:0;
	
}
body{
	 background-image: linear-gradient(#72FF5C, #FFE65C);
}

.header{
	height: 10%;
	border:1px solid black;
	text-align: center;
}
.nav{

	height: 10%;
	border: 1px solid black;
	border-top:none;
	display: flex;
	justify-content: space-around;

}


.contenido{
	height: 70%;
	min-height: 500px;
	display: flex;
}
.aside{
	border: 1px solid black;
	border-top:none;
	text-align: center;
	flex:30%;
}
.section{
	border: 1px solid black;
	border-top:none;
	text-align: center;
	flex:70%;
	padding-left: 30px;
}
.footer{
	height: 10%;
	border: 1px solid black;
	border-top:none;
	text-align: center;
}

.fakeimg {
    background-color: #aaa;
    width: 60px;
    padding: 20px;
    float: left;
    margin-right: 10px;
}
p{
	text-align: left;
	padding:30px;
}
.principal{
	height: 500px;
}

.form-consulta {
	max-width: 500px;
	background: #eee; 
	padding: 25px; 
	font-family: 'Source Sans Pro', sans-serif;
}
.campo-form {
	width:100%; 
	height:36px; 
	margin:2px 0 6px; 
	padding-left:6px; 
	box-sizing: border-box; 
	border-radius:3px; 
	border:0; 
	font-family: 'Source Sans Pro', sans-serif; font-size:1em;}

.formulario1{
	height: 300px;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}
