@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

*{
	margin:0;
	padding:0;
	
}
body{
	 background-image: linear-gradient(#72FF5C, #FFE65C);
}
h1{

  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: Rancho;
  font-size: 50px; 
  text-align: center;
  color: white;
}
h2 {
	
 	

}


.header {
	height: 80px;
	margin: auto;
	overflow: hidden;
	background-image: url(../images/humoVaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}


.header ul {
	display: flex;
	padding: 0;
	width: 300%;	
	/*animation: cambio 20s infinite alternate linear;*/
}

.header li {	
	width: 100%;
	list-style: none;
}

.header img {
	height: 80px;
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	25% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	45% {margin-left: -200%;}
	100% {margin-left: -200%;}
}


.nav{
	background-image: linear-gradient(#72FF5C, #FFE65C);
	height: 10%;
	border: 2px solid black;
	border-top:none;
	display: flex;
	justify-content: space-around;
	align-items: center;	
	font-family: Rancho;
    font-size: 30px; 
}

 
.nav a:hover { 
  /*background-color: grey;*/
  border: 2px solid blue;
  padding: 5px;
}

#inicio,#contacto,#nosotros,#productos{
	background: yellow;
}

.contenido{
	height: 70%;
	min-height: 500px;
	display: flex;
}
.aside{
	border: 1px solid black;
	border-top:none;
	text-align: center;
	flex:30%;
	background-image: linear-gradient(#72FF5C, #FFE65C);
}
.section{
	border: 1px solid black;
	border-top:none;
	text-align: center;
	flex:70%;
	padding-left: 30px;


}
.footer{
	
	height: 38%;
	border: 1px solid black;
	border-top:none;
	text-align: center;
	color: white;
	background-color: #000000;
	color: white;
	display:flex;
	justify-content: space-around;
	padding: 20px;
	
}

.footer a,ul{
	color: #FFFFFF;
	list-style-type: none;
}



.fakeimg {
    
    width: 60px;
    padding: 20px;
    float: left;
    margin-right: 10px;
}
p{
	text-align: left;
	padding:30px;
}
.principal{
	height: 500px;
}

.form-consulta {
	max-width: 500px;
	background: #eee; 
	padding: 25px; 
	font-family: 'Source Sans Pro', sans-serif;
}
.campo-form {
	width:100%; 
	height:36px; 
	margin:2px 0 6px; 
	padding-left:6px; 
	box-sizing: border-box; 
	border-radius:3px; 
	border:0; 
	font-family: 'Source Sans Pro', sans-serif; font-size:1em;}

.formulario1{
	height: 300px;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}
.mySlides{
	
	width: 100%;
	height: 100%;
	display: none;
}
.mySlides_ultima_foto{
	
	width: 100%;
	height: 100%;
	display: block;
}

.w3-display-right {
    position: absolute;
    top: 10%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.w3-display-left {
    position: absolute;
    top: 10%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
img {
    vertical-align: middle;
}
img {
    border-style: none;
}

#vaporesoimg1{
	position: absolute;
	top: 150px;
	left: 0px;
	width: 400px;

}


/*Slider copiado de la WEB  https://codepen.io/AMKohn/pen/EKJHf*/

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 }

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * { /*Esto es para prevenir que el texto  u objeto sea seleccionado*/
     user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute; 
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav2 label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav2 label { opacity: 0.5; }

.nav2 label:hover { opacity: 1; }

.nav2 .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav2 label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}



/**/